<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>SaveNoteDetails</servlet-name>
        <servlet-class>com.servlets.SaveNoteDetails</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveNoteDetails</servlet-name>
        <url-pattern>/SaveNoteDetails</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteNote</servlet-name>
        <servlet-class>com.servlets.DeleteNote</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteNote</servlet-name>
        <url-pattern>/DeleteNote</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditNote</servlet-name>
        <servlet-class>com.servlets.EditNote</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditNote</servlet-name>
        <url-pattern>/EditNote</url-pattern>
    </servlet-mapping>
</web-app>